/*ごう作*/

.bg-top {
  background-image: url('/assets/コーヒー背景.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e6cde3;
}