<!--ジャンル検索は実装しなくてもよいらしい-->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <table class="table">
        <thead>
          <th class="table-dark">ジャンル検索</th>
        </thead>
        <tbody>
          <tr>
            <td class=>ケーキ</td>
            </tr>
          <tr>
            <td class="table-danger">焼き菓子</td>
          </tr>
          <tr>
            <td >プリン</td>
          </tr>
          <tr>
            <td class="table-danger">キャンディ</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class= "col-md-9 offset-md-1">
      <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </p>

      <h2>新着商品</h2>
      <table>
        <!--each do使う-->
        <tr>
          <td>画像</td>
        </tr>
        <tr>
          <td>商品名</td>
        </tr>
        <tr>
          <td>値段</td>
        </tr>
      </table>

      <%= link_to "すべての商品を見る＞",  products_path %>
    </div>
  </div>
</div>