<!--ごう作-->

<!--ジャンル検索は実装しなくてもよいらしい-->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <table class="table table-bordered">
        <thead>
          <th class="table-dark">ジャンル検索</th>
        </thead>
        <tbody>
          <tr>
            <td>ケーキ</td>
            </tr>
          <tr>
            <td class="table-danger">焼き菓子</td>
          </tr>
          <tr>
            <td>プリン</td>
          </tr>
          <tr>
            <td class="table-danger">キャンディ</td>
          </tr>
        </tbody>
      </table>
    </div>


    <head>
      <link rel="stylesheet" href="/assets/customer/homes/top.css">
    </head>

    <div class="col-md-10">
      <p class="bg-top">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </p>

      <h2>新着商品</h2>
      <div class="row">
        <% if @products.present? %>
          <% @products.each do |product| %>
            <div class="col-md-3">
              <table>
                <tr>
                  <td><%= image_tag product.get_image(50,50) %></td>
                </tr>
                <tr>
                  <td><%= product.name %></td>
                </tr>
                <tr>
                  <td><%= product.price %></td>
                </tr>
              </table>
            </div>
          <% end %>
        <% else %>
          <p>商品がありません</p>
        <% end %>
      </div>
      <%= link_to "すべての商品を見る＞",  products_path %>

    </div>
  </div>
</div>