<!--ごう作-->

<h3>ショッピングカート</h3>

<div>
  <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, data: { confirm: "本当に空にしますか？" }, class: "btn btn-danger" %>
</div>

<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td>a</td>
    <td>a</td>
    <td><%= cart_item.product_amount %></td>
    <td>a</td>
    <td>a</td>
  </tr>
  <% end %>
</table>