<!--しんちゃん作成-->
<div class="container-fluid mt-auto">
  <!--text-centerで中央寄せ pt-3=padding topが1rem-->
  <div class="text-center pt-3">
    <!--twitterのtopページurlとアイコン-->
    <%= link_to "https://twitter.com/", class: "text-decoration-none" do %>
      <!--twitterのアイコン　mutedカラー-->
      <i class="fab fa-twitter-square h2 text-muted"></i>
    <% end %>

    <%= link_to "https://www.facebook.com/", class: "text-decoration-none" do %>
      <!--facebookのアイコン　mutedカラー-->
      <i class="fab fa-facebook h2 text-muted"></i>
    <% end %>

    <%= link_to "https://www.instagram.com/", class: "text-decoration-none" do %>
      <!--instagramのアイコン　mutedカラー-->
      <i class="fab fa-instagram-square h2 text-muted"></i>
    <% end %>

    <%= link_to "https://line.me/ja/", class: "text-decoration-none" do %>
      <!--lineのアイコン　mutedカラー-->
      <i class="fab fa-line h2 text-muted"></i>
    <% end %>
  </div>
  <!--text-centerで中央寄せ　mutedカラー-->
  <p class="text-center text-muted">©Copyright 2023 NAGANO_CAKE ALL Rights reserved.</p>
</div>

